extends layout

block content
  h1= title
  
  ul
    
    each author in authors
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.lifespan_formatted})

    else
      li No authors currently listed.